<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, reprehenderit corporis consequatur non
            soluta eveniet assumenda repudiandae veniam incidunt id. Libero laborum commodi, aut, beatae minima fuga
            debitis vero harum animi eveniet numquam. Voluptatem dolorem tempora vitae, aspernatur et asperiores?</p>
    </div>
</div>