<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node.js and Mongodb</h1>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ut nesciunt consectetur, autem,
        laboriosam officiis voluptate sed quae obcaecati consequatur quisquam. Ipsa repellat explicabo odio delectus
        fugit accusantium officia id.</p>
    <a href="/about" class="btn btn-primary btn-lg">WilsonQ</a>
</div>